<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h1>Add or edit a user!</h1>

<form th:method="POST" th:action="@{/}" th:object="${newUser}">
    <input type="hidden" name="id" th:field="*{id}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" name="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
    <br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" name="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</div>
    <br>
    <label for="position">Position</label>
    <input type="text" th:field="*{position}" id="position" name="position"/>
    <div style="color:red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Error</div>
    <br>
    <label for="salary">Salary</label>
    <input type="text" th:field="*{salary}" id="salary" name="salary"/>
    <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Error</div>
    <br>
    <input type="submit" value="Ok">
</form>
<br>


</body>
</html>